{% extends 'template.html' %}

{% block header %}
  <h1>{% block title %}What's Up Buddy!{% endblock %}</h1>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple">
{% endblock %}

{% block content %}
<div class="container mainbody row align-items-center" style="background-color: white; font-family:Sofia, sans-serif; font-size: 30px;">
  <div class="container mx-auto" style="width: 1100px;">
    <img src="{{ url_for('static', filename='life.png') }}" width="60%" height="60%">
    <h5 class="font-effect-neon">Being Together Is Life!</h5><br><br>
    <img src="{{ url_for('static', filename='smile.png') }}">
    <h5 class="font-effect-neon">Smiling Together Is Happiness!</h5><br><br>
    
    <img src="{{ url_for('static', filename='care.png') }}" width="70%" height="70%">
    <h5>Sharing Together Is Caring!</h5><br><br>
    <img src="{{ url_for('static', filename='play.png') }}">
    <h5>Playing Together is Fun!</h5><br><br>
    <img src="{{ url_for('static', filename='learn.png') }}">
    <h5>Learning Together Is Skills!</h5>
  </div>
</div>
{% endblock %}